head, body{
    height: 100%;
    font-size: 10px;
}
li{
    font-size: 1rem;
}
.noir{
    background-color: black;
}
.blanc{
    color: white;
}
.fa-facebook{
    color: white;
    font-size: 2rem;
}
.fa-instagram{
    color: white;
    font-size: 2rem;
}
.fa-twitter{
    color: white;
    font-size: 2rem;
}
.icone{
    width: 30px;
}
.margin{
    margin-top: 50px;
}
.fa-chevron-down{
    color: white;
}
.center{
    text-align: center;
}