head, body{
    height: 100%;
    font-size: 10px;
}


.margin{
  margin-left: 1rem;
  margin-top: 1rem;
}
.cercle{
    border-radius: 50%;
}
h5{
    color: blue;
    font-size: 1.5rem;
}
.padding{
    padding-top: 0.5rem;
}
.padding2{
    padding-bottom: 2rem;
}
.margin1{
    margin-left: 1rem;
    height: 6rem;
}
.fa-thumbs-up{
    color: darkblue;
    font-size: 30px;
}
.badge{
    font-size: 1rem;
}
.margin3{
    margin-top: 1rem;
}
.margin4{
    margin-right: 0rem;
}